
<img src='graphics/embarassment-of-pandas-760x506.jpg'>

# Even More Pandas - Part 3



## Warm-up Practice
Each block of code below has instructions in it in order to help us warm up for today's lesson. We have covered each of these skills, so there is nothing that you will face for which you don't already know the answer.

In [ ]:
# Finish the code in this block to load our practice DataFrame


oktoberfest_df = pd.read_csv('data/oktoberfestgesamt19852018.csv')

In [ ]:
# Look at the first five rows of data in order to check our work and become familiar
# with the dataset

As we can see in our DataFrame, the feature (column) titles are in German, which is fine for some, but we really want to change them to English. 

Below is the translation from German to English for each column.
1. jahr: year
1. dauer: duration
1. besucher_gesamt: total visitors
1. besucher_tag: total daily visitors
1. bier_preis: beer price (in Euros)
1. bier_konsum: beer consumed (in liters)
1. hendl_preis: chicken price (in Euros)
1. hendl_konsum: chickens consumed

Using any technique you wish, change the feature names to English and make the 'year' column the index.

In [ ]:
# Pull up a sample of 8 rows to inspect our DataFrame

In [ ]:
# Look at the columns and determine if they are the right type for the information
# they hold.

In [ ]:
# Determine the min, max, mean and average of each integer/float column.

In [ ]:
# When you are satisfied with the results, run this code to save the cleaned table

oktoberfest_df.to_csv('data/oktoberfest_english.csv')

# Merge, Join and Concatenate

<img src='graphics/joins1.jpg'>

In [ ]:
#Load our necessary pandas library
import pandas as pd 


#Make three DataFrames for us to work with in the beginning of this notebook
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])
 

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])
 

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])

Now let's run the next block of code to check out our work above. Take a few moments to get an idea of 
1. what each DataFrame contains
1. how each DataFrame is constructed
1. how each DataFrame is organized

We will need to know this as we work further on this notebook's lessons.

In [ ]:
display(df1)
display(df2)
display(df3)

## Full Join

The first stop in our journey of Merge, Join and Concatenate will be to do the simplest join - a Full Outer Join.

In [ ]:
frames = [df1, df2, df3] 

df4 = pd.concat(frames)

df4

## Full Join and Change of Keys

To merge or concatenate a set of DataFrames, as we just did above, is incredibly helpful, but what happens when you want extract only a original portion of an pre-merged DataFrame from the new DataFrame? In that case, you can set keys on the data sets. 

In the next example, we concatenate `df1`, `df2` and `df3` as we just did above. Notice that we add the 'keys=' parameter to the concatenate command line. This will key each of the former DataFrames so that we might extract original data from the new DataFrame.

Run the next block of code, then note how the keys `df1`, `df2` and `df3` are integrated into the new DataFrame (`df5`). As to the keys, you can use any variable or name that you want to use. I used the names of the former DataFrames in this example clarity reasons only. 

**REMEMBER that when you place single or double quotes around a character (numeric, alphabetic, or alpha-numeric) those characters become a string.**

In [ ]:
frames = [df1, df2, df3]

df5 = pd.concat(frames, keys=['df1', 'df2', 'df3'])

df5

Now you find that you want to know what of the new data was originally in `df2`. By using the `.loc` command that we learned in the last meet-up and calling the `df2` key, we extract information that was from `df2`.

In [ ]:
df5.loc['df2']

## Two ways to handle axes when joining DataFrames

When gluing together multiple DataFrames, you have a choice of how to handle the other axes (other than the one being concatenated). This can be done in the following two ways:

- Take the union of them all, join='outer'. This is the default option as it results in zero information loss.
- Take the intersection, join='inner'.


Here is an example of each of these methods. First, the default join='outer' behavior:

In [ ]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                    'D': ['D2', 'D3', 'D6', 'D7'],
                    'F': ['F2', 'F3', 'F6', 'F7']},
                    index=[2, 3, 6, 7])

result = pd.concat([df1, df4], axis=1, sort=False)

result

And second, here is the same thing with join='inner'. 

After you run the block, notice that it only provides the rows where the information of the two DataFrames overlap.

In [ ]:
result = pd.concat([df1, df4], axis=1, join='inner')

result

Let's look at the parameters in the inner join command. First, the DataFrames you want to join are in square brackets and separated by a comma. Next, you specify the axis you want to join along. Axis 0 is rows and Axis 1 is columns. Finally, with the join parameter we tell Pandas what type of join we want. In this case, we want an inner join.

## Reindexing joined DataFrames

Lastly, suppose we just wanted to reuse the exact index from the original DataFrame (remember that an index specifies the row numbers that the DataFrame keys off of). The original DataFrame (`df1`) had the row indexes of 0, 1, 2, 3, 4.

Looking at the concatenate command, we set the first parameter by naming the DataFrames we want to join in square brackets. Next, we set the axis parameter (in this case, we want to use the row index - axis=1). Then we use the `.reindex()` command and set its parameter to the index of `df1`. 

Run the next block to see the results.

In [ ]:
result = pd.concat([df1, df4], axis=1).reindex(df1.index)

result

## Ignoring indexes on the concatenation axis

For DataFrame objects which donâ€™t have a meaningful index, you may wish to append them and ignore the fact that they may have overlapping indexes. To do this, use the `ignore_index` argument in the concatenation command.

In [ ]:
result = pd.concat([df1, df4], ignore_index=True, sort=False)

display('df1', df1)
display('df4', df4)

display('result', result)

## Merging two dataframes along a column name

### Inner Merge

In [ ]:
result = pd.merge(df1, df4, on='B', how='inner')

result

### Outer Merge

In [ ]:
result = pd.merge(df1, df4, on='B', how='outer')

result

### Right Merge

In [ ]:
result = pd.merge(df1, df4, on='B', how='right')

result

### Left Merge

In [ ]:
result = pd.merge(df1, df4, on='B', how='left')

result

### Merge while adding a suffix to duplicate column names

In [ ]:
result = pd.merge(df1, df4, on='B', how='outer', suffixes=('_left', '_right'))

result

# Practice

We have covered a lot, so not it is time for you to pratice.

## Create a DataFrame

In [ ]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}
df_a = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_a

## Create another DataFrame

In [ ]:
raw_data = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}
df_b = pd.DataFrame(raw_data, columns = ['subject_id', 'first_name', 'last_name'])
df_b

## Create a third DataFrame

In [ ]:
raw_data = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}
df_n = pd.DataFrame(raw_data, columns = ['subject_id','test_id'])
df_n

## Join df_a and df_b along rows

## Join df_a and df_b along columns

## Merge df_a and df_b with outer join along the `subject_id` value

Add the appropriate suffixes so that we know where the merged data came from.

## Merge df_a and df_b with inner join along `subject_id` value